@import url(./libs/bootstrap/bootstrap.min.css);
@import url("./templates.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 40px;
}

.main .home {
  background: url("./img/home/wallpaperhome.png") center/cover no-repeat;
  padding: 20px 0px 55px;
  z-index: -1;
  text-align: center;
}
.main .home__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #FFFFFF;
  margin-top: 320px;
  margin-bottom: 20px;
}
.main .home__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.main .home__link {
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 36px;
  margin-bottom: 335px;
  text-align: center;
}
.main .home__link:hover {
  color: #504DC2;
}

.nav .nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-right: 40px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.nav .nav__link:hover {
  color: #b69797;
}
.nav .nav__link:hover:before {
  content: "";
  position: absolute;
  width: calc(100% + 40px);
  height: 2px;
  background: white;
  left: -20px;
  bottom: -40px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}

.services {
  background: #E5E5E5;
}
.services__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  /* dark */
  color: #323232;
}
.services__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-top: 50px;
  /* grey */
  color: #999999;
}
.services__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  height: 45px;
  text-decoration: none;
  padding: 13px 36px 15px;
  position: relative;
  top: -60px;
  left: 574px;
}

.main .services .container {
  padding: 110px 110px 200px;
}
.main .services .container__title {
  font-style: normal;
  font-weight: 600px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  display: inline-block;
  margin-right: 27px;
  margin-top: 116px;
  margin-bottom: 12px;
}
.main .services .container__img {
  border: 1px solid #4985FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 110px;
  height: 110px;
  margin-top: 80px;
}
.main .services .container__text {
  display: inline-block;
}

.main .services .container .row:nth-child(2) .col-4:last-child .col-6:last-child {
  margin-right: 0px;
}

.main .services .row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .services .container .row:nth-child(2) .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  padding: 100px 100px 70px;
  position: relative;
}
.about__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  margin-right: 186px;
  /* dark */
  color: #323232;
}
.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-right: 121px;
  /* grey */
  color: #999999;
}
.about__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* Accent */
  color: #4985FF;
}
.about__img {
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 500px;
  height: 400px;
  margin-right: 0;
}
.about__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: -10px;
}
.about__number {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 53px;
  color: #000000;
  margin-top: 70px;
}
.about__texts {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 70px;
  /* grey */
  color: #999999;
}

.hr {
  width: 100%;
  margin-top: 90px;
}

.process {
  position: relative;
  padding: 100px 0px 85px;
}
.process__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-bottom: 70px;
}
.process__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 15px 36px;
  text-decoration: none;
  margin-bottom: 120px;
}
.process__img {
  width: 350px;
  height: 300px;
}
.process__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.process__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}
.process__more {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* Accent */
  color: #4985FF;
}
.process__line {
  width: 100%;
  margin-top: 85px;
}

.process::before {
  content: "";
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 420px;
  width: 100%;
  height: 50%;
}

.process .container .row:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process .container .row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project {
  position: relative;
}
.project__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 50px;
}
.project__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  /* grey */
  color: #999999;
  margin-bottom: 70px;
}
.project__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  text-decoration: none;
  padding: 15px 36px;
  margin-bottom: 130px;
}
.project__img {
  margin-bottom: 50px;
}

.project .container .row:last-child .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video {
  position: relative;
}
.video__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 70px;
}
.video__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}
.video__img {
  width: 970px;
  height: 430px;
  position: absolute;
  top: 220px;
  bottom: 85px;
  left: 135px;
}
.video__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
}
.video__icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.video__hr {
  position: absolute;
  border: 1px solid black;
  bottom: 735px;
}

.video::before {
  content: "";
  background: url("./img/video/Rectangle.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -170px;
  width: 100%;
  z-index: -1;
}

.video .container:first-child .second {
  position: absolute;
  top: 385px;
  left: 465px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 200px;
  padding: 20px 40px;
}

.follow {
  position: absolute;
  top: 4968px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.follow__title {
  margin-top: 85px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}
.follow__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  /* grey */
  color: #999999;
  margin-top: 20px;
}
.follow__form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.follow__second_text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 35px;
}
.follow__input {
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
  padding: 15px 149px 13px 33px;
}
.follow__send {
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  color: white;
  padding: 13px 36px 15px 26px;
  margin-left: 0;
}

.footer {
  position: absolute;
  top: 5230px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 70px 0px 145px;
}
.footer__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  text-decoration: none;
  margin-bottom: 30px;
  display: inline-block;
}
.footer__icon {
  width: 15px;
  height: 12px;
}
.footer__img {
  width: 5px;
  height: 9px;
}
.footer__hr {
  border: 1px solid #E0E0E0;
}
.footer__right {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  /* grey */
  color: #999999;
}

.footer .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .col-3 {
  margin-bottom: 70px;
}
/*# sourceMappingURL=templates.css.map */